* {
    margin: 0%;
    padding: 0%;
}
section {
   background-image: url("https://i0.statig.com.br/bancodeimagens/e0/yz/fy/e0yzfy1f4v5v817wrgk4bzw1g.jpg");
   display: flex; 
   justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100vh;

}

footer {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 210, 218);
    width: 100%;
    height: 20px;
    align-items: center;
}
